body {
	text-align: center;
}

#input-container {
	padding: 25px 25px;
	display: inline-block;
	background-color: pink;
	width: 30%;
}

input {
	text-align: center;
	display: inline;
}

p {
	display: inline-block;
	padding-right: 10px;
}

#start-button {
	margin-top: 20px;
	width: 20%;
}